<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fuel Entry</ion-title>
  </ion-navbar>
  <ion-item style="background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">Select Vehicle</ion-label>
    <select-searchable
      item-content
      [(ngModel)]="selectedVehicle"
      [items]="portstemp"
      itemValueField="Device_Name"
      itemTextField="Device_Name"
      [canSearch]="true"
      (onChange)="getid(selectedVehicle)"
    >
    </select-searchable>
  </ion-item>

  <ion-row style="background-color: #fafafa;" padding-left padding-right>
    <ion-col width-20 class="cust">
      <ion-label>
        <span style="font-size: 13px">From Date</span>
        <ion-datetime
          displayFormat="DD-MM-YYYY hh:mm a"
          pickerFormat="DD/MM/YY hh:mm a"
          [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;"
        >
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20 class="cust">
      <ion-label>
        <span style="font-size: 13px">To Date</span>
        <ion-datetime
          displayFormat="DD-MM-YYYY hh:mm a"
          pickerFormat="DD/MM/YY hh:mm a"
          [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;"
        >
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon
          ios="ios-search"
          md="md-search"
          style="font-size:2.3em;"
          (click)="getFuelList()"
        >
        </ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-card *ngFor="let f of fuelList">
    <ion-card-content>
      <ion-row>
        <ion-col col-6 style="font-size: 1.2em;" no-padding>
          <ion-row>
            <ion-col col-2>
              <ion-icon name="car" color="gpsc"></ion-icon>
            </ion-col>
            <ion-col col-10>
              {{ f.vehicle.Device_Name }}
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-6 style="text-align: right;" no-padding>
          <ion-row>
            <ion-col col-12>
              <ion-badge color="gpsc" style="font-size: 1.2em;"
                >{{ f.quantity }} liters</ion-badge
              >
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 no-padding>
          <ion-row>
            <ion-col col-2>
              <ion-icon style="color:gray;" name="calendar"></ion-icon>
            </ion-col>
            <ion-col
              col-10
              style="color:gray;font-size:14px;font-weight: 400;"
              >{{ f.Date | date: "mediumDate" }}</ion-col
            >
          </ion-row>
        </ion-col>
        <ion-col col-6 no-padding>
          <ion-row style="text-align: right;">
            <ion-col col-12 style="color:gray;font-size:14px;font-weight: 400;">
              <ion-icon style="color:gray;" name="cash"></ion-icon
              >&nbsp;&nbsp;{{ f.price }} INR
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-fab right bottom>
  <button ion-fab color="gpsc" (click)="addFuelEntry()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
