<ion-header>
  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon *ngIf="isChecked" name="mic" item-start></ion-icon>
    <ion-icon *ngIf="!isChecked" name="mic-off" item-start></ion-icon>
    <ion-label>Voice Notification</ion-label>
    <ion-checkbox color="dark" [(ngModel)]="notif" (click)="setNotif(notif)" item-right></ion-checkbox>
  </ion-item>
  <ion-item (tap)="rootpage()">
    <ion-icon name="checkmark-circle-outline" item-start></ion-icon>
    <ion-label>Default Page</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="map" item-start></ion-icon>
    <ion-label color="dark">Map Type</ion-label>
    <ion-select [(ngModel)]="gaming">
      <ion-option [value]="normal" selected>Normal</ion-option>
      <ion-option [value]="satellite">Satellite</ion-option>
      <ion-option [value]="hybrid">Hybrid</ion-option>
      <ion-option [value]="terrain">Terrain</ion-option>
    </ion-select>
  </ion-item>
</ion-content>