<ion-header>
    <ion-navbar>
        <ion-title>Change Password</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="savePass()">
                Save
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-icon class="ic" name="lock" item-start></ion-icon>
            <ion-input placeholder="Old Password" [(ngModel)]="oldP"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon class="ic" name="lock" item-start></ion-icon>
            <ion-input placeholder="New Password" [(ngModel)]="newP"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon class="ic" name="lock" item-start></ion-icon>
            <ion-input placeholder="Confirm New Password" [(ngModel)]="cnewP"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>