<ion-header>
  <ion-navbar>
    <ion-title>Add Geofence</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div #mapGeofence id="mapGeofence" data-tap-disabled="true">
    <ion-searchbar
      style="padding: 8px 8px 5px 8px;"
      [(ngModel)]="autocomplete.query"
      (ionInput)="updateSearch()"
      placeholder="Search Places..."
    >
    </ion-searchbar>
    <ion-list
      [ngClass]="autocompleteItems.length > 0 ? 'searchclass1' : 'searchclass2'"
    >
      <ion-item
        *ngFor="let item of autocompleteItems"
        (click)="chooseItem(item)"
      >
        {{ item.description }}
      </ion-item>
    </ion-list>
    <div style="padding: 10px;">
      <div
        style="padding: 0px 10px 10px;margin-top: -10px; background: white; border-radius: 5px;"
      >
        <input
          type="radio"
          name="demo"
          [(ngModel)]="autocomplete.creation_type"
          value="circular"
          id="radio-one"
          class="form-radio"
          (click)="radioChecked('circular')"
        /><label for="radio-one">Circular</label>
        <input
          type="radio"
          name="demo"
          [(ngModel)]="autocomplete.creation_type"
          value="polygon"
          id="radio-one"
          class="form-radio"
          (click)="radioChecked('polygon')"
        /><label for="radio-two">Polygon</label>
      </div>
    </div>
    <div
      *ngIf="autocomplete.creation_type == 'circular'"
      style="padding-left: 5px; padding-right: 5px"
      [ngClass]="autocompleteItems.length > 0 ? 'searchclass2' : 'searchclass1'"
    >
      <ion-list style="margin: 0px; border-radius: 25px; background: #d5dbe3;">
        <ion-item style="background: transparent;">
          <ion-range
            style="padding: 0px; margin: 0px;"
            min="200"
            max="5000"
            pin="false"
            [(ngModel)]="fence"
            color="secondary"
            (ionChange)="callThis(fence)"
          >
            <ion-icon
              range-left
              small
              color="gpsc"
              name="remove-circle"
            ></ion-icon>
            <span range-left style="font-size: 10px;">200m</span>
            <span range-right style="font-size: 10px;">500mi</span>
            <ion-icon range-right color="gpsc" name="add-circle"></ion-icon>
          </ion-range>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col col-6 style="padding-left: 10px;">radius</ion-col>
        <ion-col col-6 style="text-align: right;padding-right: 10px;">
          <ion-badge color="gpsc">{{ fence }}</ion-badge>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <form [formGroup]="geofenceForm">
    <ion-item class="logitem">
      <ion-label style="color: black;font-size: 0.9em;" fixed>Fence Name*</ion-label>
      <ion-input
        style="font-size: 0.9em;"
        formControlName="geofence_name"
        type="text"
      ></ion-input>
    </ion-item>
    <ion-row>
      <ion-col col-4 padding-left>
        <ion-label style="font-size: 1em">Alert Settings</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-row style="padding: 10px">
          <ion-col col-6 style="text-align: right;">
            <ion-checkbox
              color="gpsc"
              checked="true"
              formControlName="check"
              (ionChange)="enteringFunc()"
            >
            </ion-checkbox>
          </ion-col>
          <ion-col col-6 float-left>Enter</ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-4>
        <ion-row style="padding: 10px">
          <ion-col col-6 style="text-align: right;">
            <ion-checkbox
              color="gpsc"
              checked="true"
              formControlName="check1"
              (ionChange)="exitingFunc()"
            >
            </ion-checkbox>
          </ion-col>
          <ion-col col-6 float-left>Exit</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-footer class="footSty">
  <ion-toolbar>
    <ion-row>
      <ion-col style="text-align: center">
        <button ion-button clear color="light" (click)="creategoefence()">
          Create Geofence
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
